
.container{
margin: 75px auto;
}
.inner{
    margin-top: 20px;
}
.carousel-item{
    background-color: white;
    height: 400px;
    border-radius: 20px ;
}
.c-image{
    height: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item img{
    width: 155px;
    height: 155px;
    border-radius: 100px ;
}
.carousel-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.carousel-text h3{
    font-size: 18px;
    font-weight: 600px;   
     margin: 10px 10px;

}
.carousel-text p{
    text-align: center;
    font-size: 16px;
    margin: 10px 10px;

}
.slick-slide > div{
    margin: 0 10px;
}
