.container{
    margin: 100px 70px;
}
.inner{
    margin-top: 100px;
    
}
.carousel-item{
    width: 400px;
    background-color: #fbf6ee;
    height: 400px;
    box-shadow:  0.5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
.c-image{
    height: 180px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item img{
    width: 155px;
    height: 155px;
    border-radius: 100px ;
}
.carousel-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.carousel-text h3{
    font-size: 18px;
    font-weight: 600px;   
     margin: 10px 10px;

}
.carousel-text p{
    text-align: center;
    font-size: 16px;
    margin: 10px 10px;

}
.slick-slide > div{
    margin: 0px 10px;
}

.slick-prev, .slick-next{
  color: #282c34;
  background-color: aquamarine;
  border-radius: 100%;
}
@media(max-width:1024px){
    .container{
        margin: 115px 80px;
    }
    .carousel-text h3{
        font-size: 16px;
        font-weight: 600px;   
         margin: 10px 10px;
    
    }
    .carousel-text p{
        text-align: center;
        font-size: 14px;
        margin: 10px 10px;
    
    }
}