.carousel-container {
    margin: 100px 100px;
    height: 40vh;
  }
  
  .carousel-item {
    align-items: center;
    justify-content: center;
    height: 250px;
    text-align: center;
    padding: 20px 20px;
  }
  
  .carousel-item img {
    width: 150px;
    height: 150px;
  }
  