.multigrain-goodness-article {
    max-width: 850px;
    margin: auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;

  }
  .article-image {
    width: 850px;
    max-height: 300px; /* Adjust the maximum height as needed */
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
  }
  .multigrain-goodness-article h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .multigrain-goodness-article p {
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  @media(max-width:1024px){
    .multigrain-goodness-article {
      max-width: 550px;
      padding: 15px;
  
    }
    .article-image {
      width: 550px;
      max-height: 250px;
    }
    .multigrain-goodness-article h2 {
      font-size: 18px;
    }
    
    .multigrain-goodness-article p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  @media(max-width:500px){
    .multigrain-goodness-article {
      max-width: 300px;
      padding: 15px;
  
    }
    .article-image {
      width: 300px;
      max-height: 250px;
    }
    .multigrain-goodness-article h2 {
      font-size: 16px;
    }
    
    .multigrain-goodness-article p {
      font-size: 13px;
      line-height: 1.5;
    }
  }
  
  