.loginsignup{
    width: 100%;
    height: 80vh;
    padding-top: 100px;
}
.loginsignup-container{
    width: 450px;
    height: 450px;
    background: rgb(250, 242, 229);
    margin: auto ;
    padding: 30px 60px;
}
.loginsignup-container h1{
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0px ;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
}
.loginsignup-container button{
    width: 470px;
    height: 53px;
    color: white;
    background-color: #ff4141;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 500;
}

@media(max-width:1024px){
    .loginsignup{
        height: 80vh;
    }
    .loginsignup-container{
        width: 380px;
        height: 400px;
        padding: 10px 40px;
    }
    .loginsignup-container h1{
        font-size: 20px;
        margin: 13px 0px ;
    }
    .loginsignup-fields{
        gap: 15px;
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 40px;
        padding-left: 10px;
        font-size: 14px;
    }
    .loginsignup-container button{
        width: 393px;
        height: 50px;
    }
    .loginsignup-login{
        font-size: 13px;
    }
    .loginsignup-agree{
        font-size: 12px;
        gap: 10px;
    }
    
}