.descriptionbox{
    margin: 80px 80px;
}
.discriptionbox-nav{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.fade{
    color: #7b7b7b;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    text-align: justify;
    padding-bottom: 60px;
}
@media(max-width:1024px){
    .descriptionbox{
        margin: 50px 50px;
    }
    .descriptionbox-nav-box{
        font-size: 15px;
    }
    .descriptionbox-description{
        font-size: 14px;
        text-align: justify;
        padding: 38px;
        padding-bottom: 50px;
    }
}
@media(max-width:768px){
    .descriptionbox{
        margin: 20px 20px;
    }
    .descriptionbox-nav-box{
        font-size: 14px;
        width: 110px;
        height: 60px;
    }
    .descriptionbox-description{
        text-align: justify;
        font-size: 14px;
        padding: 28px;
        padding-bottom: 30px;
    }
}
@media(max-width:425px){
    .descriptionbox{
        margin: 20px 20px;
    }
    .descriptionbox-nav-box{
        font-size: 13px;
        width: 100px;
        height: 60px;
    }
    .descriptionbox-description{
        text-align: justify;
        font-size: 13px;
        padding: 28px;
        padding-bottom: 30px;
    }
}