.navbar{
    background-color: #72d149;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    padding-left: 100px;
    align-items:center;
}
.nav-logo img{
    width: 80px;
    height: 45px;
}
.nav-login-cart{
    padding-right: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-login-cart button{
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    border: 1px solid #72d149;
    background-color: #72d149;
    border-radius: 75px;
    cursor: pointer;
}
.nav-login-cart button:hover{
    background-color: #C1F2B0;
}
.nav-login-cart button:active{
    background-color: #c8efbc;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: #C1F2B0;
    color: black;
}
