.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: aquamarine;
}
.footer-logo{
    display: flex;
    align-items:center;
    gap: 5px;
}
.footer-logo img{
    width: 100px;
    height: 60px;
}
.footer-logo p{ 
    float: right;
    padding-top: 35px;
    padding-left: 2px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 16px;
}
.footer-links li{
    cursor: pointer;
}
.footer-icons{
    display: flex;
    gap: 20px;
}
.icon-container{
    padding: 10px;
}
.bottom-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 10pxpx;
    font-size: 14px;
}
@media(max-width:1024px){
    .footer-links{
        font-size: 14px;
        gap: 40px;
    }
    .bottom-bar{
        font-size: 12px;
    }
}
@media(max-width:768px){
    .footer-links{
        font-size: 13px;
        gap: 30px;
    }
    .bottom-bar{
        font-size: 10px;
    }
}
@media(max-width:500px){
    .footer-links{
        padding-left: 0px;
        font-size: 13px;
        gap: 15px;
    }
    .bottom-bar{
        font-size: 10px;
    }
}